@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}
.main {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
}




.main:after {
  content: "";
  background-image: url("/grid.svg");
  z-index: -10;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.4;
  filter: invert(1);
}

.gradient {
  background: #7CD7E9;
  background: linear-gradient(to right, #7CD7E9 0%, #3E6ACF 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.input {
  border-style: none;
}

.file-drop-area {
  position: relative; /* Add this */
  border: 2px dashed #aaa;
  padding: 50px; /* Adjust the padding to increase the area size */
  text-align: center;
  cursor: pointer;
}

.input-file {
  opacity: 0;
  position: absolute;
  top: 0; /* Add these lines to cover the whole .file-drop-area */
  left: 0;
  bottom: 0;
  right: 0;
  cursor: pointer;
}

.file-drop-area-active {
  background-color: #f9f9f9;
}

.loading-screen-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adjust this value based on your layout */
}

.loading-screen {
  text-align: center;
}