.section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .chat-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    position: relative;
  }
  
  .collapse-button {
    position: absolute;
    top: -10px; /* Adjust as needed */
    right: -10px; /* Adjust as needed */
  }

  .sidebar {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .slide-bottom {
    -webkit-animation: slide-bottom 0.4s ease-in-out both;
            animation: slide-bottom 0.4s ease-in-out both;
  }

  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-80%);
              transform: translateY(-80%);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
              opacity: 1;
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(-80%);
              transform: translateY(-80%);
              opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
              opacity: 1;
    }
  }

  .instruction {
    position: relative;
    background-color: rgba(244, 247, 249, 0.2);
    backdrop-filter: blur(40px);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    border-width: 2px;
    border-color:  rgba(18, 18, 19, 0.686);
    box-shadow: rgba(18, 18, 19, 0.686) 0px 4.59375px 0px 0px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .chat-container {
    position: relative;
    z-index: -2;
  }

  
  .chat-history {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .message {
    padding: 10px;
    border-radius: 6px;
  }
  
  .message.user-message {
    background-color: #e2f0cb;
    align-self: flex-start;
  }
  
  .message.bot-message {
    background-color: #d0eefc;
    align-self: flex-end;
  }
  
  .message .user {
    font-weight: bold;
  }
  
  .chat-input {
    display: flex;
    margin-top: -10px;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .chat-input textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    margin-top: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  .send-button {
    align-self: flex-end;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #3182ce;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  .send-button:hover {
    background-color: #2c5282;
  }
  
  .subsection {
    margin-top: 20px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
    transition:  0.2s ease;
  }

  .message.user-message {
    background-color: #e2f0cb;
    align-self: flex-start;
  }
  
  .message.bot-message {
    background-color: #d0eefc;
    align-self: flex-end;
  }

  .chat-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .subsection textarea {
    width: 100%;
    height: 100px;
  }

  .glassmorphism {
    background: rgba(244, 247, 249, 0.4);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    box-shadow: 0 2px 30px 0 rgba(31, 38, 135, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.18);
  }
  